temp
.venv/
/build/
logs/
models/*.safetensors
models/*.json
models/*.whl
__pycache__/
*__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzq
temp/__pycache__/
temp/*__pycache__/
temp/*.pyc
temp/*.pyo
temp/*.pyd
temp/*.pyw
temp/*.pyz
temp/*.pywz
temp/*.pyzw
temp/*.pyzq
.mid
*.mid
tests/test_models/
tests/test_models/*
tests/test_models/**
tests/test_models/**/*
tests/test_models/**/**
tests/test_models/**/**/*
tests/test_models/**/**/**
tests/test_models/**/**/**/*
tests/test_models/**/**/**/**
tests/test_models/**/**/**/**/*
dev-notes.md
dev-notes.md
